body {
  overflow: hidden !important;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

iframe {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
